/*Maquetación de posición del fieldset del login*/
.login
{
    width:200px;
    margin-left: 100px;
}

/*Maquetación del asp:Login*/
.LoginContainer
{
    width: 400px;
    margin: 0 auto;
}

/*Margen de la base*/
.accountInfo
{
    margin-bottom: 25px;
}

/*mensajes de error*/
.failureNotification
{
    height:50px;
    width:920px;
}

/*labels de nombre y paword*/
.LabelLogin
{
    width:20p;
}